.contain {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
@media (min-width: 600px) {
	.contain {
		padding: 0;
	}
}

h3,
ul {
	margin: 0;
}

h3 {
	margin-bottom: 1rem;
}

input:focus,
textarea:focus {
	outline: 1px solid rgb(128, 122, 211);
	background-color: #9ba0d6;
}

input,
textarea,
.contact_btn {
	width: 100%;
	border: 1px solid #000;
}



.wrapper {
	box-shadow: 0 0 5px 0 rgba(152, 138, 233, 0.2);
}
.wrapper > * {
	padding: 1em;
}
@media (min-width: 600px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 50px;
	}
	/* .wrapper > * {
		padding: 2em 2em;
	} */
}

ul {
	list-style: none;
	padding: 1rem;
	margin: 1rem;
}
.address_list {
	font-size: 1rem;
	margin-top: 10px;
	color: #9ba0d6;
	border-bottom: none;
	
}
.address_list li{
	padding: 1rem;
}

.address_list li:hover {
	border: 0;
	border-bottom: none;
}
.contacts {
	background: #3d4386;
	color: #fff;
	cursor: default;
}
.contacts h3 {
	color: rgb(172, 171, 182);
}

.form {
	background: #fff;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
form label {
	display: block;
	color: #4b5195;
}
form p {
	margin: 0;
}

.full-width {
	grid-column: 1 / 3;
}

.contact_btn,
input,
textarea {
	padding: 1em;
}

.contact_btn {
	background: rgb(195, 191, 214);
	width: 100%;
	border: 0;
}
.contact_btn:hover,
.contact_btn:focus {
	background: rgb(135, 133, 226);
	outline: 0;
}

h3 {
	color: #323fcf;
}

.message {
	font-size: 1.2em;
	text-align: center;
	color: #36a936;
}
