.projects_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	
}

@media (max-width: 600px) {
	.projects_grid {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
}
