html{
	box-sizing: border-box;
	/* height: 100vh; */
	/* overflow: auto; */
}
*, *:before, *:after {
	box-sizing: inherit;
  }
.App {
	text-align: center;
	color: whitesmoke;
    min-height: 100%;
}


footer h3 {
	text-align: center;
	font-size: 20px;
	color: rgb(177, 169, 231);
	position: sticky;
	left: 0;
	bottom: 0;
	right: 0;
	margin-top: 25rem;
	padding-bottom: 0.5rem;
	
	
}

h3:hover {
	color: rgb(150, 151, 229);
	cursor: pointer;
}

